html,
body {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
}

.body_fixed {
  overflow: hidden;
}

.container {
  max-width: 752px;
  margin: 0 auto;
}

h1 {
  margin: 67px 0 22px;
  width: 236px;
  height: 39px;
  left: 396px;
  top: 67px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: black;
}

p {
  font-weight: 400;
  font-size: 22px;
}

span {
  font-weight: 400;
}

.expenses__wrapper {
  margin-bottom: 18px;
}

.expenses__inner {
  display: flex;
  gap: 28px;
}

.expenses__input {
  box-sizing: border-box;
  width: 422px;
  padding-left: 10px;
  height: 45px;
  font-size: 22px;
  background: white;
  border: 1px solid #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.expenses__button {
  width: 302px;
  background: #0094ff;
  font-family: "Inter";
  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.category {
  margin-bottom: 65px;
}

.category__list {
  box-sizing: border-box;
  width: 422px;
  height: 45px;
  padding-left: 10px;
  font-size: 22px;
  background: white;
  border: 1px solid #000000;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("down-arrow.png") 96% / 6% no-repeat;
}

.data__wrapper {
  display: flex;
  gap: 28px;
  margin-bottom: 70px;
}

.data__list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 422px;
}

.history__wrapper {
  width: 302px;
}

.data__history {
  margin-bottom: 20px;
}

.list__history {
  font-size: 20px;
}

ol {
  list-style-position: inside;
}

li {
  margin-bottom: 12px;
}

.status {
  color: green;
}

.status_red {
  color: red;
}

.reset__button {
  width: 302px;
  background: red;
  font-family: "Inter";
  font-size: 22px;
  line-height: 39px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.limit {
  position: relative;
}

.limit__icon {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.limit__button {
  border: none;
  background-color: transparent;
}

.limit__image {
  position: absolute;
  margin-top: -8px;
  margin-left: 44px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.4);
  color: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.popup_open {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: relative;
  width: 800px;
  max-height: 100%;
  overflow-y: auto;
  background-color: white;
  padding: 47px 57px;
}

.popup__close-btn {
  content: url(close-button.png);
  position: absolute;
  right: 34px;
  top: 38px;
  width: 20px;
  cursor: pointer;
}

.popup__title {
  width: 216px;
  margin-bottom: 42px;
  height: 39px;
  left: 249px;
  top: 268px;
  font-size: 22px;
  line-height: 39px;
  color: black;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  h1 {
    margin: 30px 0 22px;
    font-size: 25px;
  }

  .expenses__input {
    width: 100%;
  }

  .expenses__button {
    width: 100%;
  }

  .category {
    width: 100%;
  }

  .category__list {
    width: 100%;
    background: url(down-arrow.png) 96% / 4% no-repeat;
  }

  .reset__button {
    width: 100%;
  }
}

@media (max-width: 575px) {
  h1 {
    margin: 20px 0 22px;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .expenses__inner {
    gap: 15px;
  }

  .expenses__input {
    height: 35px;
    font-size: 18px;
  }

  .expenses__button {
    font-size: 18px;
  }

  .category {
    margin-bottom: 30px;
  }

  .category__list {
    width: 100%;
    background: url(down-arrow.png) 96% / 5% no-repeat;
    font-size: 18px;
  }

  .data__wrapper {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
  }

  .list__history {
    font-size: 18px;
  }

  .reset__button {
    font-size: 18px;
  }

  .popup__content {
    width: 100%;
    padding: 20px 20px;
  }

  .popup__title {
    margin-bottom: 25px;
    font-size: 18px;
  }

  .popup__close-btn {
    top: 30px;
    width: 15px;
  }
}
